{% load static %}

{% include 'blog/header.html' %}

<div id="mainbody">
  <div class="blogs">
    <div id="index_view">
      <h2 class="t_nav"><a href="/blog/index">首页</a><a href="/blog/about">关于</a></h2>
      <h1 class="c_titile">博客介绍</h1>
      <ul>
        {% if about_content %}
        <p><img src="{{ about_img.value }}"></p>
        {% autoescape off %}
        <p>
            {{ about_content.value }}
        </p>
        {% endautoescape %}
        {% else %}
        <p> 茫茫人海里遇见一个人有多难？有时候很难，几十亿人，一生也难见一次。有时却很容易，人群中第一眼就能把他认出来。我们总在不设防的时候喜欢上一些人。没什么原因，也许只是一个温和的笑容，一句关切的问候。可能未曾谋面，可能志趣并不相投，可能不在一个高度，却牢牢地放在心上了。冥冥中该来则来，无处可逃，就好像喜欢一首歌，往往就因为一个旋律或一句打动你的歌词。喜欢或者讨厌，是让人莫名其妙的事情。 </p>
        <p><img src="images/post1.jpg"></p>
        <p> 从前，我不相信爱情，现在我相信。世界上唯一比被爱更幸福的，就是去爱；唯一比被爱更幸运的，就是在茫茫人海中，找到值得爱的人。作家杜拉斯说“爱之于我，不是肌肤之亲，不是一蔬一饭，它是一种不死的欲望，是疲惫生活中的英雄梦想。” </p>
        <p>可能我不懂得煽情，我学不会安慰别人，每次看到别人伤心，我总是生硬的问句怎么了，别想太多了。我学不会思念，即使很长时间没见，我也不会主动打电话发短信说句我好想你之类的话。每次想要为别人做什么的时候还总是态度强硬闹得不愉快，可这就是我的方式，如果爱我，请接受这样的我。 </p>
        <p>若，能让你我一起走过，那么，我奢求是地老天荒的时候你仍然牵着我的手，然后慢慢的一起变老。在月下，我们一起听风切切的吟，听曲轻轻的扬。我想，生活中没有比这更醉人的浪漫。于是，我的世界里有了一个独特的你，你的世界里多了一个平凡的我。</p>
        <p>我们都不是没有原则的人。但一辈子那么长，总会遇到某些人、某些事，打破了自己毕生坚持的原则。总要过几年出乎意料的日子、有几度疲劳揪心的挣扎，才算真正递交了“阅历”的答卷。一生真正深刻的，其实也不过就是那几年。经历到最后会明白，把时间浪费在难忘的时间里，一点也不后悔。 </p>
        <p> 爱到浪漫，是刚开始。爱到痛苦，是要分手。爱到平淡，就该结婚。感情发展到不同时期，就要做不同事。没有一辈子的浪漫和甜蜜，真正能长伴你身边的，只是慢慢老去的熟悉。情浓时说的一切都不可信，情淡时的每一天才是真。 </p>
        <p>只要我们真正相爱，哪怕只有一天，一个小时，我们就不应该再有一刀两断的日子。也许你会在将来不爱我，也许你要离开我，但是我永远对你负有责任，就是你的一切苦难就永远是我的。我觉得我爱了你了，从此以后，不管什么时候，我都不能对你无动于衷。</p>
        {% endif %}
      </ul>
      <div class="share">
          <hr/>
      </div>
    </div>
    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="sunnav">
        <h2>博文分类</h2>
        <ol>
          {% for cate_item in cate %}
            <li><a style="display:block;" href="/blog/list/?cid={{ cate_item.id }}" title="{{ cate_item.cate_desc }}">{{ cate_item.cate_name }}</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="toppic">
        <h2>网页收藏</h2>
        <ul>
        {% for colletion_item in collections %}
          <li><a href="{{ colletion_item.url }}">{{ colletion_item.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="clicks">
        <h2>文献列表</h2>
        <ol>
        {% for document in documents %}
            <li><span><a href="{{ document.file_path }}" title="{{ document.desc }}">{{ document.name }}</a></span></li>
        {% endfor %}
        </ol>
      </div>
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->

{% include 'blog/footer.html' %}

</body>
</html>