{% load static %}

{% include 'blog/header.html' %}

<div id="mainbody">
  <div class="blogs">
    <div id="index_view">
      <h2 class="t_nav"><a href="/blog/list">博客</a><a href="/blog/article/?aid={{ article.id }}">{{ article.title }}</a></h2>
      <h1 class="c_titile">{{ article.title }}</h1>
      <p class="box">发布时间：{{ article.create_time }}<span>编辑：{{ article.create_id }}</span>阅读（{{ article.look_nums }}）</p>
      <ul>
        {% autoescape off %}
        {{ article.content }}
        {% endautoescape %}
      </ul>
      <div class="share"> 
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more">分享到：</span> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <a class="shareCount"></a> </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
        <script type="text/javascript" id="bdshell_js"></script> 
        <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
        <!-- Baidu Button END --> 
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
        {% for rela_article in rela_article_list %}
          <li><a href="/blog/article/?aid={{ rela_article.id }}" title="{{ rela_article.desc }}">{{ rela_article.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="sunnav">
        <h2>博文分类</h2>
        <ol>
          {% for cate_item in cate %}
            <li><a style="display:block;" href="/blog/list/?cid={{ cate_item.id }}" title="{{ cate_item.cate_desc }}">{{ cate_item.cate_name }}</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="clicks">
        <h2>文献列表</h2>
        <ol>
        {% for document in documents %}
            <li><span><a href="{{ document.file_path }}" title="{{ document.desc }}">{{ document.name }}</a></span></li>
        {% endfor %}
        </ol>
      </div>
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->

{% include 'blog/footer.html' %}

<script>
    $("#nav_current").attr('id','');
    $(".blog").attr('id','nav_current');
</script>
</body>
</html>