{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小雪博客-后台管理中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link rel="shortcut icon" href="{% static '/images/favicon32.ico' %}" />
    <link rel="stylesheet" href="{% static '/css/pintuer.css' %}">
    <link rel="stylesheet" href="{% static '/css/admin.css' %}">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script charset="utf-8" src="{% static '/editor/kindeditor-min.js' %}"></script>
    <script charset="utf-8" src="{% static '/editor/lang/zh_CN.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jquery.cookie.js' %}"></script>
    <script src="{% static '/js/pintuer.js' %}"></script>
</head>