{% load static %}

{% include 'administrator/header.html' %}

<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改会员密码</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/administrator/password/">
      {% csrf_token %}
      <div class="form-group">
        <div class="label">
          <label for="sitename">管理员帐号：</label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
            <input type="hidden" id="user_id" value="{{ request.session.user_id }}"/>
           {{ request.session.user_id }}
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">管理员邮箱：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="memail" name="memail" size="50" placeholder="请输入邮箱id" value="{{ request.session.user_email }}"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">原始密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />       
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="newpass" size="50" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />         
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="renewpass" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#newpass:两次输入的密码不一致" />          
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="button" onclick="checkOldPass();"> 提交</button>
        </div>
      </div>      
    </form>
  </div>
</div>
<script>
    //检查原密码是否正确
    function checkOldPass(){
        var user_id = $("#user_id").val();
        var old_pass = $("#mpass").val();
        var data = {'action':'checkOldPass','user_id':user_id,'old_pass':old_pass};
        {#$("form").submit();#}
        $.ajax({
            url: '/administrator/ajax/',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function(msg){
                $("#mpass").next().remove();
                if(msg.code == 0){
                    $("#mpass").css('border-color','red');
                    var tip = '<div class="input-help" style="color:red;"><ul><li>原密码输入不正确</li></ul></div>';
                    $("#mpass").after(tip);
                    return false;
                }else{
                    $("#mpass").css('border-color','green');
                    $("form").submit();
                }
            },
            error: function(){
                alert('ajax error');
            }
        });
    }
</script>
</body>
</html>